<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('header') %>

    <div class="content">
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <a href="/"><img src="/images/food.jpg" alt="food" /></a>
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
      <div class="sub-content">
        <img src="/images/food.jpg" alt="food" />
        <h2>Food</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          debitis id unde dolores ea numquam!
        </p>
      </div>
    </div>
  </body>
</html>
