<div class="side-left">
  <ul class="list_management">
    <li class="list_item"><a href="/admin/pages/add">Thêm sản phẩm</a></li>
    <li class="list_item">
      <a href="/admin/pages/listitem">Danh sách sản phẩm</a>
    </li>
  </ul>
</div>
