:root {
  --primary-color: rgb(248, 104, 104);
  --gray: #ddd;
  --text: #636363;
}

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.container .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: var(--gray) 1px solid;
}

.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in {
  margin-right: 10px;
  padding: 8px;
  color: var(--text);
  font-weight: 500;
  border: var(--gray) 1px solid;
  border-radius: 4px;
}

.sign-out {
  margin-right: 10px;
  padding: 8px;
  color: var(--text);
  font-weight: 500;
  border: var(--gray) 1px solid;
  border-radius: 4px;
}

.form-inline .form-control {
  width: 400px !important;
}

.sub-heading {
  display: flex;
  margin-top: 15px;
}

.sub-heading > a {
  margin: 0 8px;
  color: var(--text);
  font-weight: 500;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 212px);
  gap: 10px;
  margin-top: 25px;
}
.sub-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.sub-content img {
  width: -webkit-fill-available;
}
