@import url("../../node_modules/font-awesome/css/font-awesome.min.css");

:root {
  --primary-color: rgb(248, 104, 104);
  --gray: #ddd;
  --text: #636363;
  --text-white: #fff;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.container {
  margin-top: 20px;
}

.container .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: var(--gray) 1px solid;
}

.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in {
  margin-right: 10px;
  padding: 8px;
  color: var(--text);
  font-weight: 500;
  border: var(--gray) 1px solid;
  border-radius: 4px;
}

.sign-out {
  margin-right: 10px;
  padding: 8px;
  color: var(--text);
  font-weight: 500;
  border: var(--gray) 1px solid;
  border-radius: 4px;
}

.form-inline .form-control {
  width: 400px !important;
}

.sub-heading {
  display: flex;
  margin-top: 15px;
}

.sub-heading > a {
  margin: 0 8px;
  color: var(--text);
  font-weight: 500;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 212px);
  gap: 10px;
  margin-top: 25px;
}
.sub-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.sub-content img {
  width: -webkit-fill-available;
}

p.price {
  margin: 5px 10px;
  color: var(--primary-color);
}

.amount {
  padding-left: 10px;
}

button.add_to_cart {
  display: block;
  margin-top: 10px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: var(--text-white);
  background: var(--primary-color);
  cursor: pointer;
}

.side {
  display: flex;
}

.side-left {
  width: 30%;
  height: 100vh;
  background-color: #191616;
  position: fixed;
}

.side-right {
  width: 70%;
  height: 100vh;
  padding: 30px;
  margin-left: 30%;
}

.list_management {
  list-style: none;
  margin-top: 20px;
}

.list_item > a {
  padding: 16px;
  color: var(--text);
  display: block;
  font-size: 20px;
  font-weight: 500;
}

.add_new_item {
  border: 1px solid #c5d6e5;
  margin: auto;
  padding: 20px;
  width: 500px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 2px #ddd;
}

.new_item {
  display: inherit;
  margin-top: 20px;
}

.btn {
  margin-top: 10px;
}

.custom-select {
  margin-top: 12px !important;
  width: 100px !important;
}

table,
td,
th {
  border: 1px solid black;
  padding: 6px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th {
  height: 50px;
}

.heading_management {
  background-color: #483d3d;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  font-size: 30px;
  color: var(--text-white);
}

#description {
  margin-top: 10px;
  width: 190px;
  display: block;
}

.edit,
.delete {
  border: 0;
  border-radius: 3px;
}
